# Object file 0 teleselskab
*.o øvrigt ø
Plads 
# Ada Library Information
Intellitrons plads 
iPhone 
Netcaller 
Gupclamfecandensens
Hide call
00 o Opkald
Avendent 
C caller
Impressive 
Line open
*.ali
Return 
Indimediation
Prosess call
Step caller
Open net
\\.cc\*??f{u}_’github
